<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee           http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>homeServlet</servlet-name>
        <servlet-class>controllerQuang.homeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisOrganizationServlet</servlet-name>
        <servlet-class>controllerQuang.RegisOrganizationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ArticleServlet</servlet-name>
        <servlet-class>controller.ArticleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>approvalServlet</servlet-name>
        <servlet-class>controllerQuang.approvalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VolunteerRegisterServlet</servlet-name>
        <servlet-class>controllerQuang.VolunteerRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>volunteerapproval</servlet-name>
        <servlet-class>controllerQuang.volunteerapproval</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VolunteerCVDetailServlet</servlet-name>
        <servlet-class>controllerQuang.VolunteerCVDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateProjectServlet</servlet-name>
        <servlet-class>controllerQuang.CreateProjectServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>homeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisOrganizationServlet</servlet-name>
        <url-pattern>/regisorg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArticleServlet</servlet-name>
        <url-pattern>/related-articles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>approvalServlet</servlet-name>
        <url-pattern>/approval</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VolunteerRegisterServlet</servlet-name>
        <url-pattern>/volunteerregis</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>volunteerapproval</servlet-name>
        <url-pattern>/volunteerapproval</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VolunteerCVDetailServlet</servlet-name>
        <url-pattern>/cvdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateProjectServlet</servlet-name>
        <url-pattern>/CreateProjectServlet</url-pattern>
    </servlet-mapping>
</web-app>
