<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
	 version="6.0">
<servlet>
        <servlet-name>Blog</servlet-name>
        <servlet-class>Controller.Blog</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Blog</servlet-name>
        <url-pattern>/Blog</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>BlogCategories</servlet-name>
        <servlet-class>Controller.BlogCategories</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BlogCategories</servlet-name>
        <url-pattern>/BlogCategories</url-pattern>
    </servlet-mapping>
    
      <servlet>
        <servlet-name>SearchBlog</servlet-name>
        <servlet-class>Controller.SearchBlog</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchBlog</servlet-name>
        <url-pattern>/SearchBlog</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>SingleBlog</servlet-name>
        <servlet-class>Controller.SingleBlog</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SingleBlog</servlet-name>
        <url-pattern>/SingleBlog</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>BlogList</servlet-name>
        <servlet-class>Controller.BlogManagement.BlogList</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BlogList</servlet-name>
        <url-pattern>/BlogList</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ViewBlog</servlet-name>
        <servlet-class>Controller.BlogManagement.ViewBlog</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewBlog</servlet-name>
        <url-pattern>/ViewBlog</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>AddBlog</servlet-name>
        <servlet-class>Controller.BlogManagement.AddBlog</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddBlog</servlet-name>
        <url-pattern>/AddBlog</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Campaign</servlet-name>
        <servlet-class>Controller.Campaigns.Campaign</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Campaign</servlet-name>
        <url-pattern>/Campaign</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>CampaignSigle</servlet-name>
        <servlet-class>Controller.Campaigns.CampaignSigle</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CampaignSigle</servlet-name>
        <url-pattern>/CampaignSigle</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>CampaignManage</servlet-name>
        <servlet-class>Controller.Campaigns.CampaignManage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CampaignManage</servlet-name>
        <url-pattern>/CampaignManage</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>CampaignList</servlet-name>
        <servlet-class>Controller.CampaignManagement.CampaignList</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CampaignList</servlet-name>
        <url-pattern>/CampaignList</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>CampaignList</servlet-name>
        <servlet-class>Controller.Campaigns.CampaignList</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CampaignList</servlet-name>
        <url-pattern>/CampaignList_1</url-pattern>
    </servlet-mapping>
</web-app>
